.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ecf0f1;
  padding: 5px 0px;
}
.Projects h1 {
  font-size: 30px;
  font-family: "Roboto";
  letter-spacing: 2px;
  font-weight: bold;
  border-bottom: 1px solid #2c3e50;
  color: #2c3e50;
}

.card_project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
}
.card_project_data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #f7f5eb;
  width: 800px;
}
.arrow_project {
  font-size: 30px;
  margin: 0px 10px;
  font-weight: bold;
  color: #273c75;
  cursor: pointer;
}
.card_project_data img {
  object-fit: cover;
  width: 50%;
  height: 240px;
}
.card_project_data h3 {
  font-size: 23px;
  margin: 5px 0px;
  font-family: "Roboto";
  letter-spacing: 2px;
}
.card_project_data span {
  font-family: "Roboto";
  text-indent: 20px;
  margin: 20px 4px;
}
.card_project_data a {
  background-color: #4cd137;
  padding: 4px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 140px;
  text-align: center;
}
.card_project_data a:hover {
  background-color: #44bd32;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card_porject_details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .card_project_data {
    width: 90%;
    flex-direction: column;
  }
  .card_project_data img {
    object-fit: cover;
    width: 100%;
  }
  .card_porject_details {
    width: 90%;
    padding-bottom: 5px;
  }
  .card_project_data span {
    margin: 9px 4px;
  }
  .card_project_data h3 {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .arrow_right {
    position: absolute;
    right: 3%;
    color: white;
    background-color: rgba(25, 42, 86, 0.8);
    border-radius: 50%;
    padding: 3px;
  }
  .arrow_left {
    position: absolute;
    left: 3%;
    color: white;
    background-color: rgba(25, 42, 86, 0.8);
    border-radius: 50%;
    padding: 3px;
  }
}
